<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block metatitle %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('style.css') }}">
    </head>
    <body>
    <header>
        <img class="img-s60" src="https://www.pokepedia.fr/images/e/e2/Pok%C3%A9_Ball-RS.png" alt="">
        <h1>PoKéMoN ! ATTRAPEZ LES TOUS !</h1>
        <nav><ul>
                <li><a href="{{ path("home") }}">acceuil</a></li>
                <li><a href="{{ path("cate") }}">categories de pokemons</a></li>
                <li><a href="{{ path("articles") }}">liste de mes PoKéMoNz </a></li></ul></nav>

        </audio>
    </header>
        {% block body %}{% endblock %}

        <footer>
            <p>Copyrights ANDREA LE BIHAN</p>
        </footer>

    </body>
</html>
