{% extends 'base.html.twig' %}

{% block metatitle %}
    Poker
{% endblock %}

{% block body %}

    <p>Entrez votre age</p>
    <form method="get">
    <input type="number" name="age">
    <input type="submit">
    </form>
{% endblock %}