{% extends 'base.html.twig' %}

{% block metatitle %}
    Pokemon : home page
{% endblock %}


{% block body %}
<main>
<h1>bonjour</h1>
<h2>bonjour</h2>
<h3>bonjour</h3>
<h4>bonjour</h4>
<h5>bonjour</h5>
<h6>bonjour</h6>
</main>
{% endblock %}